<div class="row">
    <div class="col-md-8">
        <mat-card>
            <h1 class="text-center">{{iseditmode ? 'Update Product' :'Add product'}}</h1>
            <form [formGroup]="productform" (ngSubmit)="onsubmit()">
                <div class="form-group">
                    <label for="productName">productName</label>
                    <input type="text" class="form-control" formControlName="productName">
                </div>

                  <div class="form-group">
                    <label for="stockAvailable">stockAvailable</label>
                    <select type="text" class="form-control" formControlName="stockAvailable">
                        <option [ngValue]="1">Yes</option>
                        <option [ngValue]="0">No</option>

                    </select>
                </div>

                 <div class="form-group">
                    <label for="productImage">productImage</label>
                    <input type="text" class="form-control" formControlName="productImage">
                </div>

                
                  <div class="form-group">
                    <label for="description">description</label>
                    <input type="text" class="form-control" formControlName="description">
                </div>

                   <div class="form-group">
                    <label for="orderStatus">orderStatus</label>
                    <select type="text" class="form-control" formControlName="orderStatus">
                        <option value="Inprogress">Inprogress</option>
                        <option value="Dispatch">Dispatch</option>
                        <option value="Delivered">Delivered</option>
                    </select>
                </div>

                <button *ngIf="!iseditmode" mat-raised-button color="primary" class="w-100">Add Product</button>
                <button (click)="onupdateproduct()" *ngIf="iseditmode" mat-raised-button color="primary" class="w-100">update</button>
            </form>
        </mat-card>
    </div>
</div>