<div class="row">
    <div class="col-12 text-right">
        <button mat-raised-button color="primary" routerLink="adduser">Add User</button>
    </div>

    <div class="col-md-4">
       <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between"
        
         *ngFor="let user of userArr; TrackBy : trackuser"
           routerLinkActive="active"
 [queryParams]="{cr:user.userRole}"
      
       [routerLink]="[user.userId]"
         >
            {{user.userName}}

            <strong class="badge" 
            [ngClass]="{
                'badge-warning':user.isActive,
                'badge-danger':!user.isActive

            }">
            {{user.isActive ? "Yes" :'No'}}

            </strong>

        </li>
       </ul>
    </div>
    <div class="col-md-8">
<router-outlet></router-outlet>
    </div>
</div>